*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #073763;
}

#caixa {
  width: 600px;
  border-radius: 5px;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
}

#header {
  text-align: center;
  margin-bottom: 30px;
}

div img {
  width: 300px;
}

ul li {
  list-style-type: none;
}

h2 {
  margin: 0;
}

a:link, a:visited {
  color: #073763;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}