body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 200px;
  width: 200px;
}

.caixa {
  width: 200px;
  height: 200px;
  background-color: brown;
  cursor: pointer;
}