body {
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2, h3 {
  margin: 5px;
}

.quadrado {
width: 100px;
height: 100px;
background-color: #F00;
margin: 20px auto;
cursor: pointer;
border: solid 3px #999;
}
