body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  gap: 10px;
  color: white;
}

.vermelho {
  background: red;
}

.azul {
  background-color: blue;
}
