table {
    width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 14px;
    color: rgb(98, 98, 98);
    border: 1px solid rgb(235, 235, 235);
}

th {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0;
    border: 1px solid rgb(235, 235, 235);
}

th:nth-child(1) {
    width: 20%;
}

th:nth-child(2) {
    width: 20%;
}

td {
    padding: 5px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid rgb(235, 235, 235);
    text-align: center;
}

td:last-child {
    padding: 20px 20px;
    text-align: left;
}

/* tr{
    border-bottom: 2px solid black;
} */

.rio-de-janeiro {
 background-color: rgb(255, 243, 224);
}

.rio-de-janeiro:nth-child(even) {
    background-color: rgb(255, 246, 233);
}

.sao-paulo {
    background-color: rgb(213, 213, 213);
}

.sao-paulo:nth-child(even) {
    background-color: rgb(228, 228, 228);
}
.curitiba {
    background-color: rgb(189, 227, 251);
}

.curitiba:nth-child(even) {
    background-color: rgb(207, 237, 255);
}

.divisao-td {
    border-bottom: 2px solid rgb(200, 200, 200);
}


