body {
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  gap: 10px;
  color: white;
}

img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  cursor: pointer;
}

.hide {
  display: none;
}

.modal {
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}