* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Cambria;
    background-color: rgb(40, 37, 37);
  }
  
  ul li {
    margin: 5px;
    padding: 5px;
    background-color: rg;
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }
  
  a {
      
    padding: 20px;
    text-decoration: none;
    color: rgb(183, 183, 183);
  }
  
  a:hover {
    color: rgba(183, 183, 183,0.5);
  }
  
  /* ----------- PAGINA PRINCIPAL ----------*/
  
  .menu-lateral-home {
    width: 250px;
    margin: 0 auto;
    background-color: white;
  }
  
  .conteudo-principal {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 25px;
  }
  
  .header-home {
    text-align: center;
    background-color: rgba(24, 68, 155, 0.5);
    padding: 50px 0;
  }
  & h1 {
    color: white;
  }
  
  .main-home {
    display: flex;
    background-color: rgb(138, 27, 122);
    padding: 15px;
  }
  
  & h2 {
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  & p {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: aliceblue;
  }
  
  .section-home {
    padding: 15px;
  }
  
  & p {
    margin-bottom: 10px;
  }
  
  .footer-home {
    background-color: rgba(24, 68, 155, 0.8);
    padding: 15px;
    text-align: center;
    color: white;
  }
  
  /* ----------- PAGINA WELLINGTON ----------*/
  
  .header-wellington {
    text-align: center;
    background-color: rgba(24, 68, 155, 0.5);
    padding: 15px;
  }
  & h1 {
    color: white;
  }
  & img {
    width: 200px;
    border-radius: 50%;
    background-color: rgb(138, 27, 122);
    border: 5px solid rgba(255, 255, 255, 0.7);
  }
  .main-wellington {
    background-color: rgb(138, 27, 122);
    padding: 15px;
  }
  & h2 {
    margin-bottom: 20px;
  }
  & p {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  div {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 25px;
  }
  
  .section-wellington {
    padding: 15px;
  }
  & p {
    margin-bottom: 10px;
  }
  
  .footer-wellington {
    background-color: rgba(24, 68, 155, 0.8);
    padding: 15px;
    text-align: center;
    color: white;
  }
  
