table {
    width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    border: 1px solid black;
}

td {
    padding: 5px 0;
    font-size: 18px;
    border: 1px solid black;
    text-align: center;
}

