h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #afafaf;
}

h2 {
  color: #8e8e8e;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  color: #242424;
  font-size: 1.2rem;
  padding: 0 20px;
}

p span {
  font-weight: bold;
  color: rgb(82, 14, 14);
}
